.ctr {
  margin: auto;
  margin-bottom: 1em;
  width: 55%;
  text-align: center;
}
.btncenter {
  margin: auto;
}
#googleform {
  width: 100%;
  margin: auto;
}
#googlecalendar {
  width: 100%;
  margin: auto;
}
#Calendar {
  width: 100%;
  margin: auto;
}
.fa-calendar-times {
  width:100%;
}
body {
  width: 100%;
  margin: auto;
}
.card {
  margin: auto;
  width: 100%;
}
